//fonts color

$font_color: #6e6e6e;
$font_menu: #212529;


$font_size__lg: 28px;
$font_size__md: 20px;
$font_size__sm: 12px;

$button_color: #fc7c00;
$button_color__hover: #fc9630;
$button_color__background: #000000;

// spaces

$padding_section: 30px 0;
$margin_section: 50px 0;
$margin_section_large: 100px 0;

// box color

$border_color: rgba(210,210,210,0.8);

// image

$image_color: #FF8B00;

