{% extends 'base.html' %}
{% load static i18n sass_tags %}


<!-- Single post meta section-->

{% block meta_description %}
    {% if post.meta_title %}
        <meta name="title" content="{{post.meta_title}}">
    {% endif %}
    {% if post.meta_description %}
        <meta name="description" content="{{post.meta_description}}">
    {% endif %}
{% endblock %}

<!-- Single post scss section-->

{% block scss %}
    {% if post.template and post.template != homepage.template %}
        {% for key, value in post.choice_dict.items %}
            {% if post.template == value %} 
                <link href="{% sass_src 'pages/styles/template_'|add:key|add:'/base.scss' %}" rel="stylesheet" media="screen">
            {% endif %}
        {% endfor %}
    {% elif homepage.template %}
        {% for key, value in homepage.choice_dict.items %}
            {% if homepage.template == value %} 
                <link href="{% sass_src 'pages/styles/template_'|add:key|add:'/base.scss' %}" rel="stylesheet" media="screen">
            {% endif %}
        {% endfor %}
    {% else %}
        <link type="text/css" href="{% sass_src 'pages/styles/main.scss' %}" rel="stylesheet" media="screen">
    {% endif %}
{% endblock %}

<!-- Single post navbar section (same as choosen homepage template) -->

{% block navbar %}
    {% if homepage.template %}
        {% for key, value in homepage.choice_dict.items %}
            {% if homepage.template == value %} 
                {% include 'homepage_templates/template_'|add:key|add:'/template_'|add:key|add:'_navbar.html'%}
            {% endif %}
        {% endfor %}
    {% else %}
        {% include 'includes/navbar.html' %}
    {% endif %}
{% endblock %}

<!-- Single post content section-->

{% block content %}
    {% if post.template %}
        {% for key, value in post.choice_dict.items %}
            {% if post.template == value %} {% include 'blog_templates/single_post_templates/template_'|add:key|add:'/template_'|add:key|add:'.html' %}{% endif %}
        {% endfor %}
    {% else %}
        {{post.title}}
        {% if post.img %}
                {% if post.img_in_single_blog %}
                        <img src='{{post.img.url}}' width="300px" />
                {% endif %}
        {% endif %}
        {% if post.content %}
            {{post.content|safe}}
        {% endif %}
        {{post.created}}
    {% endif %}
{% endblock %}

<!-- Single post footer section -->

{% block footer %}
    {% if homepage.template %}
        {% for key, value in homepage.choice_dict.items %}
            {% if homepage.template == value %} 
                {% include 'homepage_templates/template_'|add:key|add:'/template_'|add:key|add:'_footer.html'%}
            {% endif %}
        {% endfor %}
    {% else %}
        {% include 'includes/footer.html' %}
    {% endif %}
{% endblock %}